@import url('https://fonts.googleapis.com/css2?family=Squada+One&display=swap');
*{
    margin: 0; padding: 0; box-sizing: border-box; scroll-behavior: smooth; z-index: 0;
}
body{
    overflow-x: hidden;
}
img{
    max-width: 100%;
    display: block;
}
a{
    font-style: none;
    text-decoration: none;
}
// Reponsivo
@mixin mobile {
    @media only screen and (max-width:700px){
        @content;
    }
}

// cores
$mainColor: #000666;
$white: #F9F8F8;
$black: #222;

// fontes
@function em($px, $con: 16){
    @return ($px / $con) * 1em;
}

@mixin mainFont($size:88) {
    font-family: 'Squada One', cursive;
    font-size: em($size); //
    text-transform: uppercase;
    color: $white;
    @include mobile{
        font-size: 3em;
    }
}
@mixin textFont($size:14) {
    font-family: 'Arial', sans-serif;
    font-size: em($size);
    line-height: em(25, $size);
}
@mixin title($color: $black) {
    font-family: 'Squada One', cursive;
    font-size: em(36);
    position: relative;
    margin: 0 auto;
    margin-bottom: 60px;
    color: $color;
    display: flex;
    justify-content: center;
        &::after{
            content: '';
            width: 50px;
            display: block;
            height: 5px;
            position: absolute;
            bottom: -10px;
            background-color: currentColor;
        }
}

// backgrounds
@mixin background($padding:10px 0, $color: $white){
    width: 100%;
    padding: $padding;
    background-color: $color;
}


@mixin container($width) {
    max-width: $width;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    @include mobile{
        max-width: 100%;
        padding-left: 10px;
        padding-right: 10px;
        justify-content: space-around;
    }
}
.container{
    @include container(1000px);
}
.title{
    @include title;
}