@import url("https://fonts.googleapis.com/css2?family=Squada+One&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
  z-index: 0;
}

body {
  overflow-x: hidden;
}

img {
  max-width: 100%;
  display: block;
}

a {
  font-style: none;
  text-decoration: none;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 700px) {
  .container {
    max-width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.title {
  font-family: 'Squada One', cursive;
  font-size: 2.25em;
  position: relative;
  margin-bottom: 60px;
  color: #eee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: left;
}

.title::after {
  content: '';
  width: 50px;
  display: block;
  height: 5px;
  position: absolute;
  bottom: -10px;
  background-color: currentColor;
}

body {
  background-color: #eee;
}

.cursor {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #FB3640;
  opacity: .5;
  border-radius: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 100;
  -webkit-transition: all .1s ease;
  transition: all .1s ease;
}

@media only screen and (max-width: 700px) {
  .cursor {
    display: none;
  }
}

.cursor-g {
  -webkit-transform: scale(2);
          transform: scale(2);
}

.header {
  width: 100%;
  padding: 10px 0;
  background-color: #0D1321;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

@media only screen and (max-width: 700px) {
  .header .container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.check-mobi {
  display: none;
}

@media only screen and (max-width: 700px) {
  .check-mobi {
    display: block;
    color: #eee;
    font-size: 1.5em;
    padding: 5px 10px;
  }
}

.header input {
  display: none;
}

.logo {
  width: 121px;
  height: 24px;
  background-image: url(../img/RODRIGO..png);
  font-size: 0;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (max-width: 700px) {
  .menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    position: absolute;
    width: 200px;
    margin: auto;
    top: 58px;
    left: -100%;
    background-color: #0D1321;
    text-align: center;
    -webkit-transition: all .3s ease-in;
    transition: all .3s ease-in;
    border: 2px solid #eee;
  }
}

.header input:checked ~ .menu {
  left: 0;
}

.menu li a {
  font-family: 'Arial', sans-serif;
  font-size: 0.875em;
  line-height: 1.78571em;
  color: #eee;
  padding: 10px 15px;
  font-weight: bold;
  position: relative;
  display: block;
  -webkit-transition: .3s;
  transition: .3s;
}

.menu li a:hover {
  color: #FB3640;
}

.menu li a::after {
  content: '';
  position: absolute;
  width: 0;
  height: 3px;
  left: 0;
  bottom: 0;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  opacity: 0;
}

.menu li a:hover::after {
  width: 100%;
  opacity: 1;
  background-color: #FB3640;
}

@media only screen and (max-width: 700px) {
  .menu li a {
    padding: 20px;
  }
}

.intro {
  width: 100%;
  padding: 200px 0;
  background-color: #0D1321;
  color: #eee;
}

.intro .container {
  padding-bottom: 15px;
}

.intro h1 {
  font-family: 'Squada One', cursive;
  font-size: 4em;
  text-transform: uppercase;
  color: #eee;
  margin-bottom: 40px;
  padding: 0 10px;
  font-size: 4em;
  width: 100%;
}

@media only screen and (max-width: 700px) {
  .intro h1 {
    font-size: 2.25em;
  }
}

.btn {
  padding: 15px 50px;
  border: 3px solid #eee;
  background-color: transparent;
  text-align: center;
  color: #eee;
  font-family: 'Arial', sans-serif;
  font-size: 0.875em;
  line-height: 1.78571em;
  font-weight: bold;
  cursor: pointer;
  margin: 0 10px 10px 10px;
  -webkit-transition: .3s;
  transition: .3s;
}

.btn:hover {
  color: #0D1321;
  border-color: #FB3640;
  background-color: #FB3640;
}

@media only screen and (max-width: 700px) {
  .btn {
    display: block;
    margin: 0 10px 10px 10px;
    padding: 10px 25px;
  }
}

.sobre {
  width: 100%;
  padding: 100px 0;
  background-color: #0D1321;
  position: relative;
}

.sobre::after, .sobre::before {
  content: '';
  width: 400px;
  height: 2px;
  background-color: #FB3640;
  position: absolute;
}

@media only screen and (max-width: 700px) {
  .sobre::after, .sobre::before {
    width: 50%;
  }
}

.sobre::after {
  top: 0;
  left: 0;
}

.sobre::before {
  bottom: 0;
  right: 0;
}

.sobre .container {
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.sobre-txt {
  max-width: 520px;
  padding: 0 10px;
  position: relative;
  color: #eee;
}

.sobre-txt p {
  font-family: 'Arial', sans-serif;
  font-size: 0.875em;
  line-height: 1.78571em;
}

.sobre-txt ul {
  list-style: none;
  margin-top: 40px;
}

.sobre-txt ul li {
  margin-bottom: 20px;
  position: relative;
  padding-left: 20px;
}

.sobre-txt ul li::after {
  content: '';
  position: absolute;
  width: 10px;
  height: 20px;
  background-color: #FB3640;
  left: 0;
}

.sobre-img {
  border: 5px solid #0D1321;
  margin: 0 10px;
  position: relative;
  -webkit-transition: .3s;
  transition: .3s;
}

.sobre-img::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #FB3640;
  bottom: -20px;
  right: -20px;
  z-index: -1;
  -webkit-transition: .3s;
  transition: .3s;
}

.sobre-img:hover::after {
  bottom: -40px;
  right: -40px;
}

.tecnologias {
  width: 100%;
  padding: 100px 0;
  background-color: #0D1321;
  position: relative;
}

.tecnologias::after {
  content: '';
  position: absolute;
  width: 400px;
  height: 2px;
  background-color: #FB3640;
  bottom: 0;
  left: 0;
}

@media only screen and (max-width: 700px) {
  .tecnologias::after {
    width: 50%;
  }
}

.tecnologias .title {
  font-family: 'Squada One', cursive;
  font-size: 2.25em;
  position: relative;
  margin-bottom: 60px;
  color: #eee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: left;
}

.tecnologias .title::after {
  content: '';
  width: 50px;
  display: block;
  height: 5px;
  position: absolute;
  bottom: -10px;
  background-color: currentColor;
}

.tec-item {
  width: 230px;
  text-align: center;
  border: 5px solid #eee;
  margin: 0 10px;
  margin-bottom: 20px;
}

.tec-item img {
  margin: 50px auto;
}

.projetos {
  width: 100%;
  padding: 100px 0;
  background-color: #0D1321;
  position: relative;
}

.projetos::after {
  content: '';
  position: absolute;
  width: 400px;
  height: 2px;
  background-color: #FB3640;
  bottom: 0;
  right: 0;
}

@media only screen and (max-width: 700px) {
  .projetos::after {
    width: 50%;
  }
}

.projetos .container {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.projetos-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 313px;
  height: 240px;
  background-color: #eee;
  margin: 10px;
  position: relative;
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
}

.projetos-item:hover {
  background-color: #FB3640;
}

.projetos-item::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #eee;
  bottom: 0;
  right: 0;
  z-index: -1;
  -webkit-transition: .3s;
  transition: .3s;
}

.projetos-item:hover::after {
  bottom: 10px;
  right: 10px;
}

@media only screen and (max-width: 700px) {
  .projetos-item {
    width: 40%;
    height: 100px;
    padding: 10px;
  }
}

.projetos-item img {
  margin: 0 auto;
}

.modal-container {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.9);
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
}

.modal-on {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal {
  position: relative;
  background-color: #eee;
  width: 50%;
  border-radius: 5px;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-animation-name: down;
          animation-name: down;
  -webkit-animation-duration: .5s;
          animation-duration: .5s;
}

@media only screen and (max-width: 700px) {
  .modal {
    width: 80%;
  }
}

@-webkit-keyframes down {
  from {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes down {
  from {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}

.modal-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 300px;
  height: 150px;
  background-color: #0D1321;
  padding: 20px;
  border: 5px solid #eee;
  -webkit-box-shadow: 0 0 0 5px #0D1321;
          box-shadow: 0 0 0 5px #0D1321;
}

@media only screen and (max-width: 700px) {
  .modal-img {
    width: 200px;
    height: 100px;
  }
}

.modal-txt {
  font-family: 'Arial', sans-serif;
  font-size: 0.875em;
  line-height: 1.78571em;
}

.modal-txt h3 {
  font-family: 'Arial', sans-serif;
  font-size: 1.625em;
  line-height: 0.96154em;
  margin: 20px 0 5px 0;
}

.modal-txt p {
  text-align: left;
  max-width: 600px;
}

.modal .btn {
  background-color: #0D1321;
  color: #eee;
  border: 3px solid #eee;
  -webkit-box-shadow: 0 0 0 5px #0D1321;
          box-shadow: 0 0 0 5px #0D1321;
  padding: 5px 20px;
  margin-top: 30px;
  border-radius: 0;
}

.btn-close {
  position: absolute;
  top: -5px;
  right: -5px;
  padding: 10px;
  background-color: #0D1321;
  border: 3px solid #eee;
  -webkit-box-shadow: 0 0 0 3px #0D1321;
          box-shadow: 0 0 0 3px #0D1321;
  color: #eee;
  font-weight: bold;
  cursor: pointer;
  outline: none;
}

@media only screen and (max-width: 700px) {
  .btn-close {
    padding: 5px;
    top: -10px;
    right: -10px;
  }
}

.contato {
  width: 100%;
  padding: 100px 0;
  background-color: #0D1321;
}

.contato .container {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.contato .title {
  font-family: 'Squada One', cursive;
  font-size: 2.25em;
  position: relative;
  margin-bottom: 60px;
  color: #eee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: left;
}

.contato .title::after {
  content: '';
  width: 50px;
  display: block;
  height: 5px;
  position: absolute;
  bottom: -10px;
  background-color: currentColor;
}

.contato-contatos, .contato-form {
  margin: 0 10px 30px 10px;
}

.contato-contatos ul {
  list-style: none;
}

.contato-contatos li {
  margin-bottom: 20px;
  font-family: 'Arial', sans-serif;
  font-size: 1.125em;
  line-height: 1.38889em;
  color: #eee;
}

.contato-contatos li i {
  color: #FB3640;
}

.contato-form {
  width: 520px;
}

.contato-form form label {
  font-family: 'Arial', sans-serif;
  font-size: 1.125em;
  line-height: 1.38889em;
  color: #eee;
}

.contato-form form input, .contato-form form textarea {
  background-color: transparent;
  padding: 10px;
  width: 100%;
  margin: 0 0 10px 0;
  border: none;
  border-bottom: 3px solid #FB3640;
  color: #eee;
  font-family: 'Arial', sans-serif;
  font-size: 0.875em;
  line-height: 1.78571em;
  font-size: 0.875em;
  outline: 0;
}

.contato-form .btn {
  margin: 0;
}

footer {
  width: 100%;
  padding: 10px 0;
  background-color: #FB3640;
  font-family: 'Arial', sans-serif;
  font-size: 1em;
  line-height: 1.5625em;
  color: #0D1321;
  text-align: center;
}

[data-a] {
  opacity: 0;
  -webkit-transition: .3s;
  transition: .3s;
}

[data-a="left"] {
  -webkit-transform: translate3d(-50px, 0, 0);
          transform: translate3d(-50px, 0, 0);
}

[data-a="right"] {
  -webkit-transform: translate3d(50px, 0, 0);
          transform: translate3d(50px, 0, 0);
}

[data-a="down"] {
  -webkit-transform: translate3d(0, 50px, 0);
          transform: translate3d(0, 50px, 0);
}

[data-a="up"] {
  -webkit-transform: translate3d(0, -50px, 0);
          transform: translate3d(0, -50px, 0);
}

[data-a].ativo {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
