@import "configs";
body{
    background-color: $white;
}

// header

.header{
    @include background(10px 0, $mainColor);
    position: fixed;
    z-index: 100;
}

.check-mobi{
    display: none;
    @include mobile{
        display: block;
        color: $white;
        font-size: 1.5em;
    }
}
.header input{
    display: none;
}
.header a{
    padding-left: 10px;
}
.logo{
    width: 121px;
    height: 24px;
    background-image: url(../img/RODRIGO..png);
    font-size: 0;
}
.menu{
    display: flex;
    list-style: none;
    justify-content: space-between;
    @include mobile{
        flex-direction: column;
        justify-content: space-evenly;
        position: absolute;
        width: 130px;
        margin: auto;
        top: 64px;
        left: -100%;
        background-color: $mainColor;
        text-align: center;
        transition: all .3s ease-in;
        border-top: 2px solid $white;
    }
}
.header input{
    &:checked ~ .menu{
        left: 0;
    }
}

.menu li a{
    @include textFont;
    color: $white;
    padding: 10px 15px;
    font-weight: bold;
    position: relative;
    display: block;
    &::after{
        content: '';
        position: absolute;
        width: 0;
        height: 3px;
        background-color: $white;
        left: 0;
        bottom: 0;
        transition: all .4s ease;
        opacity: 0;
    }
    &:hover::after{
        width: 100%;
        opacity: 1;
    }
    @include mobile{
        padding: 10px;
    }
}

//intro
.intro{
    @include background(200px 0, $mainColor);
    background-attachment: fixed;
    text-align:center;
    color: $white;
}

.intro p{
    @include textFont;
    font-size: 1.25em;
    @include mobile{
        font-size: 1.125em;
    }
}
.intro h1{
    @include mainFont;
    margin-bottom: 60px;
    padding: 0 10px;
}

.btn{
    padding: 15px 50px;
    border: none;
    border-radius: 5px;
    background-color: $white;
    text-align: center;
    color: $black;
    @include textFont;
    font-weight: bold;
    cursor: pointer;
    margin-left: 10px;
    &:hover{
        box-shadow: 0px 0px 5px $white;
    }
    @include mobile(){
        width: 150px;
        margin-bottom: 10px;
    }
}

// SOBRE MIM
.sobre{
    @include background(100px 0);
}
.sobre .container{
    align-items: stretch;;
}
.sobre-txt{
    max-width: 65px * 8;
    padding: 0 10px;
    position: relative;
}
.sobre-txt span{
    @include textFont(20);
    display: block;
    font-weight: bold;
    margin-bottom: 20px;
}
.sobre-txt p{
    @include textFont;
}

.citacao{
    text-align: center;
    padding: 50px 10px;
    margin-top: 100px;
    border-top: 2px solid rgba(34, 34, 34, .2);
    border-bottom: 2px solid rgba(34, 34, 34, .2);
    color: rgba(34, 34, 34, .5);
    @include mobile{
        display: block;
        padding: 0 10px;
        margin: 50px 0;    
    }

}
.citacao p{
    @include textFont(26);
    font-style: italic;
    font-family: serif;
    &::after{
        content: '';
        display: block;
        margin: 10px auto;
        width: 20px;
        height: 2px;
        background-color: currentColor;
        
    }
    @include mobile{
        font-size: 20px;
        padding-top: 10px;
    }
}
.citacao cite{
    @include textFont(20);
    font-family: serif;
    @include mobile{
        font-size: 18px;
    }
}

.sobre-img{
    border: 5px solid $mainColor;
    border-radius: 5px;
    margin: 0 10px;
}

// tencologias
.tecnologias{
    @include background(100px 0, $mainColor)
}
.tecnologias .title{
    @include title($white)
}

.tec-item{
    width: 310px;
    text-align: center;
    border: 5px solid $white;
    margin: 0 10px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.tec-item h3{
    @include mainFont(30);
    padding: 10px 0;
    border-bottom: 5px solid $white;
    @include mobile{
        font-size: em(26, 16);
    }
}

.tec-item img{
    margin: 50px auto;
}

//projetos
.projetos{
    @include background(100px 0);
}
.projetos .container{
    justify-content: center;
}

.projetos-item{
    display: flex;
    align-items: center;
    width: 300px;
    height: 150px;
    background-color: $mainColor;
    border: 5px solid $white;
    box-shadow: 0 0 0 5px $mainColor;
    margin: 10px;
    cursor: pointer;
}
.projetos-item img{
    margin: 0 auto;
}