*{
    margin: 0; padding: 0; box-sizing: border-box; scroll-behavior: smooth;
}
img{
    max-width: 100%;
    display: block;
}
a{
    font-style: none;
    text-decoration: none;
}
@import url('https://fonts.googleapis.com/css2?family=Squada+One&display=swap');


@mixin mobile {
    @media only screen and (max-width:700px){
        @content;
    }
}

// cores
$mainColor: #000666;
$white: #F9F8F8;
$black: #222;

// fontes
@mixin mainFont {
    font-family: 'Squada One', cursive;
    font-size: 5.5em; // 70px
    text-transform: uppercase;
    color: $white;
    @include mobile{
        font-size: 3em;
    }
}
@mixin textFont {
    font-family: 'Arial', sans-serif;
    font-size: .875em; // 14px
    line-height: 1.4em;
}
@mixin title($color) {
    font-family: 'Squada One', cursive;
    font-size: 2.25em; // 36px
    text-align: center;
    position: relative;
    color: $color;
        &::after{
            content: '';
            width: 50px;
            height: 5px;
            position: absolute;
            margin: 10px auto;
            background-color: currentColor;
        }
}

// backgrounds
@mixin background($color, $padding:10px 0){
    width: 100%;
    padding: $padding;
    background-color: $color;
}


@mixin container($width) {
    max-width: $width;
    margin: 0 auto;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include mobile{
        max-width: 300px;
        padding-left: 10px;
        padding-right: 10px;
    }
}
.container{
    @include container(1000px);
}

body{
    height: 2000px;
}

// header

.header{
    @include background($mainColor, 20px 0);
    position: fixed;
}

.check-mobi i{
    display: none;
    @include mobile{
        display: block;
        color: $white;
        font-size: 1.5em;
    }
}
.header input{
    display: none;
}
.logo{
    width: 121px;
    height: 24px;
    background-image: url(../img/RODRIGO..png);
    font-size: 0;
}
.menu{
    display: flex;
    list-style: none;
    justify-content: space-between;
    @include mobile{
        flex-direction: column;
        justify-content: space-evenly;
        position: absolute;
        width: 130px;
        margin: auto;
        top: 64px;
        left: -100%;
        background-color: $mainColor;
        text-align: center;
        transition: all .3s ease-in;
        border-top: 2px solid $white;
    }
}
.header input{
    &:checked ~ .menu{
        left: 0;
    }
}

.menu li a{
    @include textFont;
    color: $white;
    padding: 10px 15px;
    font-weight: bold;
    position: relative;
    display: block;
    &::after{
        content: '';
        position: absolute;
        width: 0;
        height: 3px;
        background-color: $white;
        left: 0;
        bottom: 0;
        transition: all .4s ease;
        opacity: 0;
    }
    &:hover::after{
        width: 100%;
        opacity: 1;
    }
    @include mobile{
        padding: 10px;
    }
}

//intro
.intro{
    @include background($mainColor, 200px 0);
    background-attachment: fixed;
    text-align:center;
    color: $white;
}
.intro p{
    @include textFont;
    font-size: 1.25em;
    @include mobile{
        font-size: 1.125em;
    }
}
.intro h1{
    @include mainFont;
    margin-bottom: 60px;
}

.btn{
    padding: 15px 50px;
    border: none;
    border-radius: 5px;
    background-color: $white;
    text-align: center;
    color: $black;
    @include textFont;
    font-weight: bold;
    cursor: pointer;
    margin-left: 10px;
    &:hover{
        box-shadow: 0px 0px 5px $white;
    }
    @include mobile(){
        width: 150px;
        margin-bottom: 10px;
    }
}

