@import "configs";
body{
    background-color: $white;
}

// cursor
.cursor{
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: blue;
    opacity: .5;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    z-index: 100;
    transition: all .1s ease;
    @include mobile{
        display: none;
    }
}
.cursor-g{
    transform: scale(2);
}

// header

.header{
    @include background(10px 0, $mainColor);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}
.header .container{
    @include mobile{
        justify-content: space-between;
    }
}

.check-mobi{
    display: none;
    @include mobile{
        display: block;
        color: $white;
        font-size: 1.5em;
        padding: 5px 10px;
    }
}
.header input{
    display: none;
}

.logo{
    width: 121px;
    height: 24px;
    background-image: url(../img/RODRIGO..png);
    font-size: 0;
}

.menu{
    display: flex;
    list-style: none;
    justify-content: space-between;
    @include mobile{
        flex-direction: column;
        justify-content: space-evenly;
        position: absolute;
        width: 200px;
        margin: auto;
        top: 58px;
        left: -100%;
        background-color: $mainColor;
        text-align: center;
        transition: all .3s ease-in;
        border: 2px solid $white;
    }
}
.header input{
    &:checked ~ .menu{
        left: 0;
    }
}

.menu li a{
    @include textFont;
    color: $white;
    padding: 10px 15px;
    font-weight: bold;
    position: relative;
    display: block;
    &::after{
        content: '';
        position: absolute;
        width: 0;
        height: 3px;
        background-color: $white;
        left: 0;
        bottom: 0;
        transition: all .4s ease;
        opacity: 0;
    }
    &:hover::after{
        width: 100%;
        opacity: 1;
    }
    @include mobile{
        padding: 20px;
    }
}

//intro
.intro{
    @include background(200px 0, $mainColor);
    text-align:center;
    color: $white;
    overflow: hidden;
}

.intro p{
    @include textFont;
    font-size: 1.25em;
    @include mobile{
        font-size: 1.125em;
    }
}
.intro h1{
    @include mainFont;
    margin-bottom: 60px;
    padding: 0 10px;
}

.btn{
    padding: 15px 50px;
    border: none;
    border-radius: 5px;
    background-color: $white;
    text-align: center;
    color: $black;
    @include textFont;
    font-weight: bold;
    cursor: pointer;
    margin: 0 10px 10px 10px;
    &:hover{
        box-shadow: 0px 0px 5px $white;
    }
    @include mobile(){
        display: block;
        margin: 0 10px 10px 10px;
    }

}

// SOBRE MIM
.sobre{
    @include background(100px 0);
}
.sobre .container{
    align-items: stretch;;
}
.sobre-txt{
    max-width: 65px * 8;
    padding: 0 10px;
    position: relative;
}
.sobre-txt span{
    @include textFont(20);
    display: block;
    font-weight: bold;
    margin-bottom: 20px;
}
.sobre-txt p{
    @include textFont;
}

.citacao{
    text-align: center;
    padding: 50px 10px;
    margin-top: 100px;
    border-top: 2px solid rgba(34, 34, 34, .2);
    border-bottom: 2px solid rgba(34, 34, 34, .2);
    color: rgba(34, 34, 34, .5);
    @include mobile{
        display: block;
        padding: 0 10px;
        margin: 50px 0;    
    }

}
.citacao p{
    @include textFont(26);
    font-style: italic;
    font-family: serif;
    &::after{
        content: '';
        display: block;
        margin: 10px auto;
        width: 20px;
        height: 2px;
        background-color: currentColor;
        
    }
    @include mobile{
        font-size: 20px;
        padding-top: 10px;
    }
}
.citacao cite{
    @include textFont(20);
    font-family: serif;
    @include mobile{
        font-size: 18px;
    }
}

.sobre-img{
    border: 5px solid $mainColor;
    margin: 0 10px;
}

// tencologias
.tecnologias{
    @include background(100px 0, $mainColor);
}
.tecnologias .container{
    justify-content: space-around;
}

.tecnologias .title{
    @include title($white)
}

.tec-item{
    width: 310px;
    text-align: center;
    border: 5px solid $white;
    margin: 0 10px;
    margin-bottom: 20px;
}

.tec-item h3{
    @include mainFont(30);
    padding: 10px 0;
    border-bottom: 5px solid $white;
    @include mobile{
        font-size: em(26, 16);
    }
}

.tec-item img{
    margin: 50px auto;
}

//projetos
.projetos{
    @include background(100px 0);
}
.projetos .container{
    justify-content: center;
}

.projetos-item{
    display: flex;
    align-items: center;
    width: 300px;
    height: 150px;
    background-color: $mainColor;
    border: 5px solid $white;
    box-shadow: 0 0 0 5px $mainColor;
    margin: 10px;
    cursor: pointer;
    @include mobile{
        width: 40%;
        height: 100px;
        padding: 10px;
    }
}
.projetos-item img{
    margin: 0 auto;
}
//modal
.modal-container{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0,.9);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1;
    }


.modal-on{
    display: flex;
}

.modal{
    position: relative;
    background-color: $white;
    width: 50%;
    border-radius: 5px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    animation-name: down;
    animation-duration: .5s;
    @include mobile{
        width: 80%;
    }
}

@keyframes down{
    from{
        transform: translateY(50px);
        opacity: 0;
    } 
    to{
        transform: translateY(0px);
        opacity: 1;
    }
}

.modal-img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 150px;
    background-color: $mainColor;
    padding: 20px;
    border: 5px solid $white;
    box-shadow: 0 0 0 5px $mainColor;
    @include mobile{
        width: 200px;
        height: 100px;
    }
}
.modal-txt{
    @include textFont;
}
.modal-txt h3{
    @include textFont(26);
    margin: 20px 0 5px 0;
}
.modal-txt p{
    text-align: left;
    max-width: 600px;
}

.modal .btn{
    background-color: $mainColor;
    color: $white;
    border: 3px solid $white;
    box-shadow: 0 0 0 5px $mainColor;
    padding: 5px 20px;
    margin-top: 30px;
    border-radius: 0;
}


.btn-close{
    position: absolute;
    top: -5px;
    right: -5px;
    padding: 10px;
    background-color: $mainColor;
    border: 3px solid $white;
    box-shadow: 0 0 0 3px $mainColor;
    color: $white;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    @include mobile{
    padding: 5px;
    top: -10px;
    right: -10px;
    }
}


//contato 
.contato{
    @include background(100px 0, $mainColor);
}
.contato .container{
    align-items: flex-start;
}
.contato .title{
    @include title($white);
}
.contato-contatos, .contato-form{
    margin: 0 10px 30px 10px;
}
.contato-contatos ul{
    list-style: none;
}
.contato-contatos li{
    margin-bottom: 20px;
    @include textFont(18);
    color: $white;
}
.contato-form{
    width: 65px * 8;
}
.contato-form form label{
    @include textFont(18);
    color: $white;
}
.contato-form form input, .contato-form form textarea{
    background-color: transparent;
    padding: 10px;
    width: 100%;
    margin: 0 0 10px 0;
    border: none;
    border-bottom: 3px solid $white;
    color: $white;
    @include textFont;
    font-size: em(14);
    outline: 0;
}
.contato-form form textarea{
    border-right: 3px solid $white;
}
.contato-form .btn{
    margin: 0;
}
//footer
footer{
    @include background(10px 0, rgb(9, 1, 58));
    @include textFont(16);
    color: $white;
    text-align: center;
}

//animações
[data-a]{
    opacity: 0;
    transition: .3s;
}
[data-a="left"]{
    transform: translate3d(-50px,0,0);
}
[data-a="right"]{
    transform: translate3d(50px,0,0);
}
[data-a="down"]{
    transform: translate3d(0,50px,0);
}
[data-a="up"]{
    transform: translate3d(0,-50px,0);
}
[data-a].ativo{
    opacity: 1;
    transform: translate3d(0,0,0);
}

.dark-mode{
    position: fixed;
    bottom: 15px;
    right: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 50;
}

.dark-mode input[type="checkbox"]{
    position: relative;
    appearance: none;
    background-color: #ccc;
    width: 70px;
    height: 30px;
    outline: none;
    border-radius: 20px;
    transition: .3s;
    &:checked{
        background-color: #444;
    }
    &::after{
        content: url(../img/moon.png);
        position: absolute;
        width: 30px;
        height: 30px;
        background-color: darkblue;
        color: #ccc;
        border-radius: 50%;
        top: 0;
        left: 0;
        transform: scale(1.1);
        transition: .3s;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &:checked::after{
        left: 40px;
    }

}

.dark-mode input:checked[type="checkbox"]::after{
    left: 40px;
}
.dark-color-1{
    background-color: #1B1D23;
}
.dark-color-2{
    background-color: #ccc;
}

.verde{
    background-color: #012123;
}