@import url("https://fonts.googleapis.com/css2?family=Squada+One&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

img {
  max-width: 100%;
  display: block;
}

a {
  font-style: none;
  text-decoration: none;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 700px) {
  .container {
    max-width: 300px;
    padding-left: 10px;
    padding-right: 10px;
  }
}

.header {
  width: 100%;
  padding: 20px 0;
  background-color: #000666;
  position: fixed;
}

.check-mobi i {
  display: none;
}

@media only screen and (max-width: 700px) {
  .check-mobi i {
    display: block;
    color: #F9F8F8;
    font-size: 1.5em;
  }
}

.header input {
  display: none;
}

.logo {
  width: 121px;
  height: 24px;
  background-image: url(../img/RODRIGO..png);
  font-size: 0;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (max-width: 700px) {
  .menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    position: absolute;
    width: 130px;
    margin: auto;
    top: 64px;
    left: -100%;
    background-color: #000666;
    text-align: center;
    -webkit-transition: all .3s ease-in;
    transition: all .3s ease-in;
    border-top: 2px solid #F9F8F8;
  }
}

.header input:checked ~ .menu {
  left: 0;
}

.menu li a {
  font-family: 'Arial', sans-serif;
  font-size: .875em;
  line-height: 1.4em;
  color: #F9F8F8;
  padding: 10px 15px;
  font-weight: bold;
  position: relative;
  display: block;
}

.menu li a::after {
  content: '';
  position: absolute;
  width: 0;
  height: 3px;
  background-color: #F9F8F8;
  left: 0;
  bottom: 0;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
  opacity: 0;
}

.menu li a:hover::after {
  width: 100%;
  opacity: 1;
}

@media only screen and (max-width: 700px) {
  .menu li a {
    padding: 10px;
  }
}

.intro {
  width: 100%;
  padding: 200px 0;
  background-color: #000666;
  background-attachment: fixed;
  text-align: center;
  color: #F9F8F8;
}

.intro p {
  font-family: 'Arial', sans-serif;
  font-size: .875em;
  line-height: 1.4em;
  font-size: 1.25em;
}

@media only screen and (max-width: 700px) {
  .intro p {
    font-size: 1.125em;
  }
}

.intro h1 {
  font-family: 'Squada One', cursive;
  font-size: 5.5em;
  text-transform: uppercase;
  color: #F9F8F8;
  margin-bottom: 60px;
}

@media only screen and (max-width: 700px) {
  .intro h1 {
    font-size: 3em;
  }
}

.btn {
  padding: 15px 50px;
  border: none;
  border-radius: 5px;
  background-color: #F9F8F8;
  text-align: center;
  color: #222;
  font-family: 'Arial', sans-serif;
  font-size: .875em;
  line-height: 1.4em;
  font-weight: bold;
  cursor: pointer;
  margin-left: 10px;
}

.btn:hover {
  -webkit-box-shadow: 0px 0px 5px #F9F8F8;
          box-shadow: 0px 0px 5px #F9F8F8;
}

@media only screen and (max-width: 700px) {
  .btn {
    width: 150px;
    margin-bottom: 10px;
  }
}
