@import url("https://fonts.googleapis.com/css2?family=Squada+One&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

img {
  max-width: 100%;
  display: block;
}

a {
  font-style: none;
  text-decoration: none;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 700px) {
  .container {
    max-width: 300px;
    padding-left: 10px;
    padding-right: 10px;
  }
}

.title {
  font-family: 'Squada One', cursive;
  font-size: 2.25em;
  position: relative;
  margin: 0 auto;
  margin-bottom: 60px;
  color: #222;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.title::after {
  content: '';
  width: 50px;
  display: block;
  height: 5px;
  position: absolute;
  bottom: -10px;
  background-color: currentColor;
}

body {
  background-color: #F9F8F8;
  position: relative;
  overflow-x: hidden;
  overflow-y: visible;
}

.header {
  width: 100%;
  padding: 10px 0;
  background-color: #000666;
  position: fixed;
  z-index: 100;
}

.check-mobi {
  display: none;
}

@media only screen and (max-width: 700px) {
  .check-mobi {
    display: block;
    color: #F9F8F8;
    font-size: 1.5em;
    padding: 5px 10px;
  }
}

.header input {
  display: none;
}

.header a {
  padding-left: 10px;
}

.logo {
  width: 121px;
  height: 24px;
  background-image: url(../img/RODRIGO..png);
  font-size: 0;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (max-width: 700px) {
  .menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    position: absolute;
    width: 130px;
    margin: auto;
    top: 58px;
    left: -100%;
    background-color: #000666;
    text-align: center;
    -webkit-transition: all .3s ease-in;
    transition: all .3s ease-in;
    border: 2px solid #F9F8F8;
  }
}

.header input:checked ~ .menu {
  left: 0;
}

.menu li a {
  font-family: 'Arial', sans-serif;
  font-size: 0.875em;
  line-height: 1.78571em;
  color: #F9F8F8;
  padding: 10px 15px;
  font-weight: bold;
  position: relative;
  display: block;
}

.menu li a::after {
  content: '';
  position: absolute;
  width: 0;
  height: 3px;
  background-color: #F9F8F8;
  left: 0;
  bottom: 0;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
  opacity: 0;
}

.menu li a:hover::after {
  width: 100%;
  opacity: 1;
}

@media only screen and (max-width: 700px) {
  .menu li a {
    padding: 10px;
  }
}

.intro {
  width: 100%;
  padding: 200px 0;
  background-color: #000666;
  background-attachment: fixed;
  text-align: center;
  color: #F9F8F8;
  position: relative;
  overflow: hidden;
}

.intro p {
  font-family: 'Arial', sans-serif;
  font-size: 0.875em;
  line-height: 1.78571em;
  font-size: 1.25em;
}

@media only screen and (max-width: 700px) {
  .intro p {
    font-size: 1.125em;
  }
}

.intro h1 {
  font-family: 'Squada One', cursive;
  font-size: 5.5em;
  text-transform: uppercase;
  color: #F9F8F8;
  margin-bottom: 60px;
  padding: 0 10px;
}

@media only screen and (max-width: 700px) {
  .intro h1 {
    font-size: 3em;
  }
}

.btn {
  padding: 15px 50px;
  border: none;
  border-radius: 5px;
  background-color: #F9F8F8;
  text-align: center;
  color: #222;
  font-family: 'Arial', sans-serif;
  font-size: 0.875em;
  line-height: 1.78571em;
  font-weight: bold;
  cursor: pointer;
  margin: 0 10px 10px 10px;
}

.btn:hover {
  -webkit-box-shadow: 0px 0px 5px #F9F8F8;
          box-shadow: 0px 0px 5px #F9F8F8;
}

@media only screen and (max-width: 700px) {
  .btn {
    display: block;
    margin: 0 auto 10px auto;
    width: 150px;
  }
}

.sobre {
  width: 100%;
  padding: 100px 0;
  background-color: #F9F8F8;
}

.sobre .container {
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.sobre-txt {
  max-width: 520px;
  padding: 0 10px;
  position: relative;
}

.sobre-txt span {
  font-family: 'Arial', sans-serif;
  font-size: 1.25em;
  line-height: 1.25em;
  display: block;
  font-weight: bold;
  margin-bottom: 20px;
}

.sobre-txt p {
  font-family: 'Arial', sans-serif;
  font-size: 0.875em;
  line-height: 1.78571em;
}

.citacao {
  text-align: center;
  padding: 50px 10px;
  margin-top: 100px;
  border-top: 2px solid rgba(34, 34, 34, 0.2);
  border-bottom: 2px solid rgba(34, 34, 34, 0.2);
  color: rgba(34, 34, 34, 0.5);
}

@media only screen and (max-width: 700px) {
  .citacao {
    display: block;
    padding: 0 10px;
    margin: 50px 0;
  }
}

.citacao p {
  font-family: 'Arial', sans-serif;
  font-size: 1.625em;
  line-height: 0.96154em;
  font-style: italic;
  font-family: serif;
}

.citacao p::after {
  content: '';
  display: block;
  margin: 10px auto;
  width: 20px;
  height: 2px;
  background-color: currentColor;
}

@media only screen and (max-width: 700px) {
  .citacao p {
    font-size: 20px;
    padding-top: 10px;
  }
}

.citacao cite {
  font-family: 'Arial', sans-serif;
  font-size: 1.25em;
  line-height: 1.25em;
  font-family: serif;
}

@media only screen and (max-width: 700px) {
  .citacao cite {
    font-size: 18px;
  }
}

.sobre-img {
  border: 5px solid #000666;
  margin: 0 10px;
}

.tecnologias {
  width: 100%;
  padding: 100px 0;
  background-color: #000666;
}

.tecnologias .title {
  font-family: 'Squada One', cursive;
  font-size: 2.25em;
  position: relative;
  margin: 0 auto;
  margin-bottom: 60px;
  color: #F9F8F8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.tecnologias .title::after {
  content: '';
  width: 50px;
  display: block;
  height: 5px;
  position: absolute;
  bottom: -10px;
  background-color: currentColor;
}

.tec-item {
  width: 310px;
  text-align: center;
  border: 5px solid #F9F8F8;
  margin: 0 10px;
  margin-bottom: 20px;
}

.tec-item h3 {
  font-family: 'Squada One', cursive;
  font-size: 1.875em;
  text-transform: uppercase;
  color: #F9F8F8;
  padding: 10px 0;
  border-bottom: 5px solid #F9F8F8;
}

@media only screen and (max-width: 700px) {
  .tec-item h3 {
    font-size: 3em;
  }
}

@media only screen and (max-width: 700px) {
  .tec-item h3 {
    font-size: 1.625em;
  }
}

.tec-item img {
  margin: 50px auto;
}

.projetos {
  width: 100%;
  padding: 100px 0;
  background-color: #F9F8F8;
}

.projetos .container {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.projetos-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 300px;
  height: 150px;
  background-color: #000666;
  border: 5px solid #F9F8F8;
  -webkit-box-shadow: 0 0 0 5px #000666;
          box-shadow: 0 0 0 5px #000666;
  margin: 10px;
  cursor: pointer;
}

@media only screen and (max-width: 700px) {
  .projetos-item {
    width: 120px;
    height: 80px;
    padding: 10px;
  }
}

.projetos-item img {
  margin: 0 auto;
}

.modal-container {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.9);
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1000;
}

.modal-on {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal {
  position: relative;
  background-color: #F9F8F8;
  width: 50%;
  border-radius: 5px;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-animation-name: down;
          animation-name: down;
  -webkit-animation-duration: .5s;
          animation-duration: .5s;
}

@media only screen and (max-width: 700px) {
  .modal {
    width: 80%;
  }
}

@-webkit-keyframes down {
  from {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes down {
  from {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}

.modal-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 300px;
  height: 150px;
  background-color: #000666;
  padding: 20px;
  border: 5px solid #F9F8F8;
  -webkit-box-shadow: 0 0 0 5px #000666;
          box-shadow: 0 0 0 5px #000666;
}

@media only screen and (max-width: 700px) {
  .modal-img {
    width: 200px;
    height: 100px;
  }
}

.modal-txt {
  font-family: 'Arial', sans-serif;
  font-size: 0.875em;
  line-height: 1.78571em;
}

.modal-txt h3 {
  font-family: 'Arial', sans-serif;
  font-size: 1.625em;
  line-height: 0.96154em;
  margin: 20px 0 5px 0;
}

.modal-txt p {
  text-align: left;
  max-width: 600px;
}

.modal .btn {
  background-color: #000666;
  color: #F9F8F8;
  border: 3px solid #F9F8F8;
  -webkit-box-shadow: 0 0 0 5px #000666;
          box-shadow: 0 0 0 5px #000666;
  padding: 5px 20px;
  margin-top: 30px;
  border-radius: 0;
}

.btn-close {
  position: absolute;
  top: -5px;
  right: -5px;
  padding: 10px;
  background-color: #000666;
  border: 3px solid #F9F8F8;
  -webkit-box-shadow: 0 0 0 3px #000666;
          box-shadow: 0 0 0 3px #000666;
  color: #F9F8F8;
  font-weight: bold;
  cursor: pointer;
  outline: none;
}

@media only screen and (max-width: 700px) {
  .btn-close {
    padding: 5px;
    top: -10px;
    right: -10px;
  }
}

.contato {
  width: 100%;
  padding: 100px 0;
  background-color: #000666;
}

.contato .container {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.contato .title {
  font-family: 'Squada One', cursive;
  font-size: 2.25em;
  position: relative;
  margin: 0 auto;
  margin-bottom: 60px;
  color: #F9F8F8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contato .title::after {
  content: '';
  width: 50px;
  display: block;
  height: 5px;
  position: absolute;
  bottom: -10px;
  background-color: currentColor;
}

.contato-contatos, .contato-form {
  margin: 0 10px 30px 10px;
}

.contato-contatos ul {
  list-style: none;
}

.contato-contatos li {
  margin-bottom: 20px;
  font-family: 'Arial', sans-serif;
  font-size: 1.125em;
  line-height: 1.38889em;
  color: #F9F8F8;
}

.contato-form {
  width: 520px;
}

.contato-form form label {
  font-family: 'Arial', sans-serif;
  font-size: 1.125em;
  line-height: 1.38889em;
  color: #F9F8F8;
}

.contato-form form input, .contato-form form textarea {
  background-color: transparent;
  padding: 10px;
  width: 100%;
  margin: 0 0 10px 0;
  border: none;
  border-bottom: 3px solid #F9F8F8;
  color: #F9F8F8;
  font-family: 'Arial', sans-serif;
  font-size: 0.875em;
  line-height: 1.78571em;
  font-size: 0.875em;
  outline: 0;
}

.contato-form form textarea {
  border-right: 3px solid #F9F8F8;
}

.contato-form .btn {
  margin: 0;
}

footer {
  width: 100%;
  padding: 10px 0;
  background-color: #09013a;
  font-family: 'Arial', sans-serif;
  font-size: 1em;
  line-height: 1.5625em;
  color: #F9F8F8;
  text-align: center;
}

[data-a] {
  opacity: 0;
  -webkit-transition: .5s;
  transition: .5s;
}

[data-a="left"] {
  -webkit-transform: translate3d(-70px, 0, 0);
          transform: translate3d(-70px, 0, 0);
}

[data-a="right"] {
  -webkit-transform: translate3d(70px, 0, 0);
          transform: translate3d(70px, 0, 0);
}

[data-a="down"] {
  -webkit-transform: translate3d(0, 70px, 0);
          transform: translate3d(0, 70px, 0);
}

[data-a="up"] {
  -webkit-transform: translate3d(0, -70px, 0);
          transform: translate3d(0, -70px, 0);
}

[data-a].ativo {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
